.stingerTab {
    background-color: #ffb300;
}

.gallerySting {
    padding: 5px;
}

.cardApprover {
    margin-top: 45px;
}

.approval {
    padding: 15px;
    width: 350px;
    height: 170px;
    box-shadow: 5px 10px 8px #888888;
    
}

