<mat-card>

  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">




      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-card-title>User Interface</mat-card-title>
          <mat-card-subtitle>Below every user can be seen</mat-card-subtitle>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">

          <!-- <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Disable Account </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-checkbox [checked]="user.isDisabled">Checked</mat-checkbox>
          </mat-cell>
        </ng-container> -->


          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="displayname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.displayName }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header> age </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.age }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let user">
              <button mat-raised-button color="primary" (click)="openDialog(user)">Edit</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>

</mat-card>