<mat-card>
  <mat-card-content>

    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Card column -->
      <div fxFlex.gt-sm="100%" fxFlex="100">


        <mat-card-title>Approval Interface</mat-card-title>
        <mat-card-subtitle>Increase your performance by a sleek design</mat-card-subtitle>



        <mat-tab-group [backgroundColor]="stingerTab">
          <mat-tab label="Stings">

            <mat-card class="cardApprover">
              <mat-card-subtitle style="padding: 15px">3D Animated Character</mat-card-subtitle>
              <mat-card-content>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://images.pexels.com/photos/1051076/pexels-photo-1051076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                </div>







              </mat-card-content>
              <mat-card-subtitle style="padding: 15px">
                <button style="background-color: #ffb300" mat-raised-button class="btn1" type="submit">Add</button>
              </mat-card-subtitle>
            </mat-card>


            <mat-card class="cardApprover">
              <mat-card-subtitle style="padding: 15px">3D Text</mat-card-subtitle>
              <mat-card-content>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://images.pexels.com/photos/1051076/pexels-photo-1051076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                </div>







              </mat-card-content>
              <mat-card-subtitle style="padding: 15px">
                <button style="background-color: #ffb300" mat-raised-button class="btn1" type="submit">Add</button>
              </mat-card-subtitle>
            </mat-card>


            <mat-card class="cardApprover">
              <mat-card-subtitle style="padding: 15px">Text</mat-card-subtitle>
              <mat-card-content>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
                </div>

                <div class="gallerySting" fxFlex="20%">
                  <img mat-card-image class="img" src="https://images.pexels.com/photos/1051076/pexels-photo-1051076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                </div>







              </mat-card-content>
              <mat-card-subtitle style="padding: 15px">
                <button style="background-color: #ffb300" mat-raised-button class="btn1" type="submit">Add</button>
              </mat-card-subtitle>
            </mat-card>

          </mat-tab>

          <mat-tab label="Approve">

            <!-- Step 3: Subscribe to the data -->




            <mat-grid-list cols="3" style="height: 3000px;">
              <mat-grid-tile style="height: 700px;">
                <div fxFlex.gt-sm="100%" fxFlex="100">
                  <mat-card>
                    <mat-card-header class="bg-primary text-white">
                      <div mat-card-avatar>
                        <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                      </div>
                      <mat-card-title>John Doe</mat-card-title>
                      <mat-card-subtitle>Look at this #wowabridge #holdmabeer #neverseenabridgebefore </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/big/img6.jpg">
                    <mat-card-content>
                      <p>Such a wonderfull structured bridge #first</p>
                    </mat-card-content>

                    <mat-card-actions>
                      <button mat-raised-button color="accent">Accept</button>
                      <button mat-button>Deny</button>
                    </mat-card-actions>

                  </mat-card>
                </div>
              </mat-grid-tile>
            </mat-grid-list>


          </mat-tab>
          <mat-tab label="Create Notification"> Content 3 </mat-tab>
        </mat-tab-group>

      </div>
    </div>

  </mat-card-content>
</mat-card>