<mat-card>
  <mat-card-content>
    <!-- ============================================================== -->
    <!-- Chart boxes -->
    <!-- ============================================================== -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- column -->
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="background-color: #ffb300">
          <mat-card-content>
            <!-- column -->

            <div class="d-flex no-block align-items-center">
              <div class="stats">
                <mat-icon class="text-white md-48">account_circle</mat-icon>
                <h2 class="text-white m-0">386</h2>
                <h5 class="text-white m-t-0 m-b-10">New Users</h5>

              </div>

              <div class="spark-count ml-auto"></div>
            </div>
            <mat-progress-bar color="warn" mode="determinate" value="50"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="background-color: #3373ee">
          <mat-card-content>
            <!-- column -->


            <div class="d-flex no-block align-items-center">
              <div class="stats">
                <mat-icon class="text-white md-48">cloud_download</mat-icon>
                <h2 class="text-white m-0">1386</h2>
                <h5 class="text-white m-t-0 m-b-10">App Downloads</h5>
              </div>

              <div class="spark-count ml-auto"></div>
            </div>
            <mat-progress-bar color="warn" mode="determinate" value="50"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="background-color: #38b002">
          <mat-card-content>
            <!-- column -->

            <div class="d-flex no-block align-items-center">
              <div class="stats">

                <mat-icon class="text-white md-48">pets</mat-icon>
                <h2 class="text-white m-0">26,317</h2>
                <h5 class="text-white m-t-0 m-b-10">New Stings Created</h5>
              </div>

              <div class="spark-count ml-auto"></div>
            </div>
            <mat-progress-bar color="warn" mode="determinate" value="50"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- column -->

      <!-- column -->
    </div>



    <chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
      [events]="barChart1.events">
      </x-chartist>

      <!-- Column-->
      </div>


  </mat-card-content>
</mat-card>