<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Employee Interface</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
      </mat-card-content>
      <mat-tab-group>
        <mat-tab label="Employee Info">
          <mat-card-content>
            <div class="mat-elevation-z8">

              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>

              <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">

                <ng-container matColumnDef="photourl">
                  <mat-header-cell *matHeaderCellDef > Photo </mat-header-cell>
                  <mat-cell *matCellDef="let user"> {{ user.photoURL }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClassXLarge'"> Name </mat-header-cell>
                  <span>
                      <mat-cell *matCellDef="let user" [ngClass]="'customWidthClassXLarge'">
                          {{ user.name }}
                          <br> 
                          {{ user.country }}
                          
                         </mat-cell>
                  </span>
                  


                </ng-container>


                <ng-container matColumnDef="displayname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClassMedium'"> Username </mat-header-cell>
                  <mat-cell *matCellDef="let user" [ngClass]="'customWidthClassMedium'"> {{ user.displayName }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClassXLarge'"> Email </mat-header-cell>
                  <mat-cell *matCellDef="let user" [ngClass]="'customWidthClassXLarge'"> {{ user.email }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phoneno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClassMedium'"> Phone number </mat-header-cell>
                  <mat-cell *matCellDef="let user" [ngClass]="'customWidthClassMedium'"> {{ user.phoneNo }} </mat-cell>
                </ng-container> 


                <ng-container matColumnDef="edit">
                  <mat-header-cell *matHeaderCellDef  [ngClass]="'customWidthClass'"> </mat-header-cell>
                  <mat-cell *matCellDef="let user" [ngClass]="'customWidthClass'">
                    <button mat-raised-button color="primary" (click)="openDialog(user)">Edit</button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pwreset">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClassPW'"></mat-header-cell>
                  <mat-cell *matCellDef="let hacker" [ngClass]="'customWidthClassPW'">
                    <button mat-raised-button color="warn" (click)="openDialog(hacker)" >Reset Password</button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
              </mat-table>

            </div>


          </mat-card-content>
        </mat-tab>

        
        <mat-tab label="Employee Create" [formGroup]='userForm' (ngSubmit)="signup()">
          <div fxFlex.gt-sm="250" fxFlex.gt-xs="150">
            <mat-card-content>



              <!--<mat-form-field>
                <input col-6 matInput id="name" name="name" placeholder="Please insert full name of Employee" required>
              </mat-form-field>-->
              <mat-form-field>
                <input matInput placeholder="Email" id="email" name="email" formControlName="email" required autocomplete="new-password">
              </mat-form-field>
              <!-- <mat-form-field>
                <input matInput id="username" name="username" placeholder="Username">
              </mat-form-field> -->
              <!-- <mat-form-field>
                <input matInput id="phoneno" name="phoneno" placeholder="Phonenumber of Employee">
              </mat-form-field> -->
              <mat-form-field>
                <input matInput id="password" name="password" type="password" formControlName="password" placeholder="Password" required
                  autocomplete="new-password" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>

              <mat-radio-group>
                <mat-radio-button color="primary" value="analyst">Analyst</mat-radio-button>
                <mat-radio-button color="accent" value="approver">Approver</mat-radio-button>
                <mat-radio-button color="warn" value="admin">Admin</mat-radio-button>
              </mat-radio-group>
              <br>
              <br>
              <hr>

              <div layout="row" layout-align="end center">
                <div>
                  <button mat-raised-button type="submit" (click)="signup()">Create</button>
                  <!-- <button mat-raised-button color="warn" (click)="openSnackBar(username.value)">Recover Password</button> -->
                </div>
              </div>

            </mat-card-content>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>